<div class="jumbotron">
  <% if logged_in? %>
      <% if current_user.isAdmin %>
          <div class="container">
            <h2 align="center">Strona główna administratora</h2>
            <div class="col-sm-offset-4 col-sm-4">
              <%= link_to 'applications', class: "btn btn-primary btn-lg btn-block" do %>
                  <%= 'Przeglądaj zgłoszenia' %> <span class="badge"><%= Application.where(pending: false, positive: false, negative: false).count %></span>
              <% end %>
              <%= link_to 'Zarządzaj użytkownikami', users_path, type:"button", class:"btn btn-primary btn-lg btn-block" %>
              <%= link_to 'Ustawienia rekrutacji', settings_path , type:"button", class:"btn btn-primary btn-lg btn-block" %>
            </div>
          </div>
      <% else %>
        <div class="container">
          <h2 align="center">Złóż podanie</h2>

          <p align="center" ><%= link_to 'Aplikuj', apply_path, class: "btn btn-primary btn-lg", role: "button" %></p>
        </div>
      <% end %>
  <% else %>
      <div class="container">
        <h2 align="center">Strona główna aplikacji rekrutacyjnej</h2>

        <p align="center" ><%= link_to 'Zaloguj', login_path, class: "btn btn-primary btn-lg", role: "button" %></p>
      </div>
  <% end %>
</div>