<% object.each do |application| %>
    <div class="row">
      <div class="col-xs-10 col-sx-offset-2">
        <div class="well well-lg">
          <%= application.jobType %>
          <%= application.division %>
          <%= application.technologies %>
          <%= application.cv %>
          <%= application.certificates %>
          <%= link_to 'Zobacz', application_path(application) %>
          <%= link_to 'Usuń', application_path(application), method:  :delete, data: {confirm: "Czy jesteś pewny/a?"} %>
          Wysłane przez: <%= application.user.firstName if application.user %> <%= application.user.lastName if application.user%>,
          <%= time_ago_in_words(application.created_at) %>
        </div>
      </div>
    </div>

  <% end %>
</table>