<tabele class="table table-striped">
  <tr>
  <% object.each do |application| %>
      <tr>
        <td><%= application.jobType %></td>
        <td><%= application.division %></td>
        <td><%= application.technologies %></td>
        <td><%= application.cv %></td>
        <td><%= application.certificates %></td>
        <td><%= application.user.firstName if application.user %> <%= application.user.lastName if application.user%></td>
        <td><%= link_to 'Zobacz', application_path(application), class:"btn btn-default" %>
          <%= link_to 'Usuń', application_path(application), method:  :delete, data: {confirm: "Czy jesteś pewny/a?"}, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
</tabele>