<% if @application.errors.any? %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2 align="center" class="panel-title"><%= pluralize(@application.errors.count, "błąd" ) %> uniemożliwiły stworzenie zgłoszenia</h2>
            <div class="panel-body">
              <ul>
                <% @application.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-xd-12">
    <%= form_for(@application, :html => {class: "form-horizontal", role: "form:"}) do |form| %>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Aplikuj o:" %>
          </div>
          <div class="col-sm-4">
            <%= form.select(:jobType, options_for_select((@offer.each).map { |i| [@offer.find(i).offerName, @offer.find(i).offerName ] })) %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Dział:" %>
          </div>
          <div class="col-sm-4">
            <%= form.select(:division, options_for_select((@division.each).map { |i| [@division.find(i).divisionName, @division.find(i).divisionName ] }))%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Znane technologie:" %>
          </div>
          <div class="col-sm-4">
            <%= form.text_area :technologies, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "CV:" %>
          </div>
          <div class="col-sm-4">
            <%= form.file_field :cv %>
            <small class="help-block">Załaduj plik PDF ze swoim CV</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Certyfikaty:" %>
          </div>
          <div class="col-sm-4">
            <%= form.file_field :certificates%>
            <small class="help-block">Załaduj plik PDF ze swoimi certyfikatami</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-5">
            <%= form.submit "Wyślij", class:"btn btn-primary btn-lg active" %>
            <%= link_to "Powrót", root_path, class:"btn btn-default btn-lg active", role:"button" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
