<% if @application.errors.any? %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@application.errors.count, "błąd" ) %> uniemożliwiły stworzenie zgłoszenia</h2>
            <div class="panel-body">
              <ul>
                <% @application.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= form_for @application do |form| %>
    <p>
      <%= form.label "Aplikuj o:" %>
      <%= form.text_field :jobType %>
    </p>
    <p>
      <%= form.label "Dział:" %>
      <%= form.text_field :division %>
    </p>
    <p>
      <%= form.label "Znane technologie:" %>
      <%= form.text_area :technologies %>
    </p>
    <p>
      <%= form.label "wsdas:" %>
      <%= form.text_field :cv %>
    </p>
    <p>
      <%= form.label "Certyfikaty:" %>
      <%= form.text_field :certificates %>
    </p>
    <p>
      <%= form.submit %>
    </p>
    <p>
      <%= link_to "Powrót", applications_path %>
    </p>
<% end %>