<% if @application.errors.any? %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2 align="center" class="panel-title"><%= pluralize(@application.errors.count, "błąd" ) %> uniemożliwiły stworzenie zgłoszenia</h2>
            <div class="panel-body">
              <ul>
                <% @application.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-xd-12">
    <%= form_for(@application, :html => {class: "form-horizontal", role: "form:"}) do |form| %>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Aplikuj o:" %>
          </div>
          <div class="col-sm-4">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Dział:" %>
          </div>
          <div class="col-sm-4">
            <%= form.text_field :division, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Znane technologie:" %>
          </div>
          <div class="col-sm-4">
            <%= form.text_area :technologies, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "CV:" %>
          </div>
          <div class="col-sm-4">
            <%= form.file_field :cv %>
            <p class="help-block">Załaduj plik PDF ze swoim CV</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 control-label">
            <%= form.label "Certyfikaty:" %>
          </div>
          <div class="col-sm-4">
            <%= form.file_field :certificates, :multiple => true%>
            <p class="help-block">Załaduj plik PDF ze swoimi certyfikatami</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-5">
            <%= form.submit class:"btn btn-primary btn-lg active" %>
            <%= link_to "Powrót", applications_path, class:"btn btn-default btn-lg active", role:"button" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
