<h1>Lista zgłoszeń</h1>
<table>
  <tr>
    <th>Typ pracy</th>
    <th>Dział</th>
    <th>Znane technologie</th>
  </tr>

  <% @applications.each do |application| %>
    <tr>
      <td><%= application.jobType %></td>
      <td><%= application.division %></td>
      <td><%= application.technologies %></td>
      <td><%= application.cv %></td>
      <td><%= application.certificates %></td>
      <td><%= link_to 'Zobacz', application_path(application) %></td>
      <td><%= link_to 'Usuń', application_path(application), method:  :delete, data: {confirm: "Czy jesteś pewny/a?"} %></td>
      <td><small>Wysłane przez: <%= application.user.firstName if application.user %> <%= application.user.lastName if application.user%>,
              <%= time_ago_in_words(application.created_at) %>
      </small></td>
    </tr>
  <% end %>
</table>