<div class="jumbotron">
  <div class="container">
    <h2 align="center">Wszyscy użytkownicy</h2>
    <div class="col-xs-4 col-xs-offset-4">
      <ul class="list-group">
        <% @user.each do |user| %>
            <li class="list-group-item"><%= user.firstName %> <%= user.lastName %> <%= user.email %><%= link_to "x", user_path(user), method:  :delete, data: {confirm: "Czy jesteś pewny/a?"}, class:"close" %></li>
        <% end %>
      </ul>
      <%= link_to 'Powrót', root_path, type:"button", class:"btn btn-default btn-lg btn-block" %>
    </div>
  </div>
</div>
