<h1>Konto użytkownika <%= @user.firstName %> <%= @user.lastName %></h1>

<!-- <h2>Zgłoszenia użytkownika <%= @user.firstName %> <%= @user.lastName %></h2>

<%= render 'applications/application', object: @user.applications %> --!>